import(randtoolbox, quadprog, parallel)

export(GRApprox, IS, resample, IMH, iterLap)

S3method(print, mixDist)
S3method(summary, mixDist)
S3method(print, summary.mixDist)

useDynLib(iterLap, .registration = TRUE)

importFrom("stats", "cov2cor", "kmeans", "nlm", "nlminb", "optim",
           "optimHess", "qnorm", "qt", "rchisq", "rmultinom", "rnorm",
           "rt", "runif")
